## PPP data breakdown 

By Luke Harold

In [1]:
import pandas as pd

In [2]:
import altair as alt

In [32]:
pd.set_option('display.max_rows', 5)

In [4]:
over_150 = pd.read_csv("foia_150k_plus.csv")

In [5]:
over_150.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661218 entries, 0 to 661217
Data columns (total 16 columns):
LoanRange        661218 non-null object
BusinessName     661210 non-null object
Address          661201 non-null object
City             661203 non-null object
State            661218 non-null object
Zip              661202 non-null float64
NAICSCode        654435 non-null float64
BusinessType     659789 non-null object
RaceEthnicity    661218 non-null object
Gender           661218 non-null object
Veteran          661218 non-null object
NonProfit        42462 non-null object
JobsRetained     620712 non-null float64
DateApproved     661218 non-null object
Lender           661218 non-null object
CD               661218 non-null object
dtypes: float64(3), object(13)
memory usage: 80.7+ MB

In [6]:
ca_under_150 = pd.read_csv("foia_up_to_150k_CA.csv")

In [7]:
ca_under_150.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493436 entries, 0 to 493435
Data columns (total 14 columns):
LoanAmount       493436 non-null float64
City             493419 non-null object
State            493436 non-null object
Zip              493420 non-null float64
NAICSCode        471136 non-null float64
BusinessType     493159 non-null object
RaceEthnicity    493436 non-null object
Gender           493436 non-null object
Veteran          493436 non-null object
NonProfit        10766 non-null object
JobsRetained     450603 non-null float64
DateApproved     493436 non-null object
Lender           493436 non-null object
CD               493436 non-null object
dtypes: float64(4), object(10)
memory usage: 52.7+ MB

In [8]:
state_over_150 = over_150[over_150.State == "CA"]

In [9]:
## city-level data

## the data is not the cleanest. For example, filtering the city column 
## to all "SOLANA BEACH" results leaves out one row in which the 
## city name was entered as "SOLANA BEACH,"

In [47]:
city_over_150 = state_over_150[state_over_150.City == "ENCINITAS"]

In [33]:
city_under_150 = ca_under_150[ca_under_150.City == "RANCHO SANTA FE"]

In [12]:
city_over_150.JobsRetained.sum()

2042.0

In [13]:
city_under_150.JobsRetained.sum()

2892.0

In [14]:
## how many total jobs were retained in the city?

## caveat: this field is not listed for many of 
## the entries, so the total is low

In [15]:
total_jobs_retained = city_under_150.JobsRetained.sum() + city_over_150.JobsRetained.sum()

In [16]:
total_jobs_retained

4934.0

In [17]:
## how many businesses did not list the number of jobs they are saving?

## some rows said 0.0, others said NaN. I converted all NaN entries 
## in the JobsRetained column to 0.0 for purposes of using value_counts
## to get a total number of businesses that did not report a number of 
## 1 or greater

In [18]:
city_over_150.JobsRetained.fillna(0, inplace = True)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [35]:
city_over_150.JobsRetained.value_counts()

0.0      13
23.0      3
         ..
6.0       1
213.0     1
Name: JobsRetained, Length: 31, dtype: int64

In [20]:
city_under_150.JobsRetained.fillna(0, inplace = True)

In [34]:
city_under_150.JobsRetained.value_counts()

1.0     66
2.0     50
        ..
17.0     1
27.0     1
Name: JobsRetained, Length: 21, dtype: int64

In [22]:
## who were the businesses that reported either 0 or NaN
## under the JobsRetained column?

In [36]:
city_over_150[city_over_150.JobsRetained == 0]

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
36496,"d $350,000-1 million",AADVANCED HOME HEALTH SERVICES,1155 CAMINO DEL MAR,DEL MAR,CA,92014.0,621610.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,0.0,05/03/2020,"Wells Fargo Bank, National Association",CA - 49
39334,"d $350,000-1 million",BLACKHORSE GRILLE LLC,3702 VIA DE LA VALLE,DEL MAR,CA,92014.0,722511.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,04/14/2020,"C3Bank, National Association",CA - 49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99078,"e $150,000-350,000",RANCHO TRADE INC,3675 Via De La Valle,DEL MAR,CA,92014.0,451110.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,0.0,04/28/2020,Banner Bank,CA - 49
102101,"e $150,000-350,000","SBICCA AN AMERICAN BISTRO, L.P",215 15TH ST,DEL MAR,CA,92014.0,722511.0,Partnership,White,Male Owned,Non-Veteran,NaN,0.0,04/15/2020,"JPMorgan Chase Bank, National Association",CA - 49

In [37]:
city_under_150[city_under_150.JobsRetained == 0]

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
19823,119755.0,RANCHO SANTA FE,CA,92067.0,541612.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,0.0,04/15/2020,Endeavor Bank,CA - 49
42369,96132.0,RANCHO SANTA FE,CA,92067.0,999990.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,0.0,05/03/2020,Cross River Bank,CA - 49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470692,3045.0,RANCHO SANTA FE,CA,92024.0,423610.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,05/01/2020,"JPMorgan Chase Bank, National Association",CA - 49
474029,2719.0,RANCHO SANTA FE,CA,92091.0,541810.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,06/26/2020,"Wells Fargo Bank, National Association",CA - 49

In [25]:
## how much money did businesses in the city receive/
## how many were there in each loan bracket?

In [26]:
city_over_150.LoanRange.value_counts().reset_index()

                  index  LoanRange
0    e $150,000-350,000         34
1  d $350,000-1 million         16
2        b $2-5 million          2

In [27]:
sd_breakdown.to_csv("sd_breakdown.csv")

NameError: name 'sd_breakdown' is not defined

In [ ]:
city_under_150.LoanAmount.sum()

In [ ]:
bins = [0, 25000, 50000, 75000, 100000, 125000, 150000]
sd_breakdown_u150 = city_under_150.LoanAmount.value_counts(bins=bins, sort=False).reset_index()

In [ ]:
sd_breakdown_u150.to_csv("sd_breakdown_u150.csv")

In [ ]:
## how many businesses in the city received PPP loans?

In [42]:
city_over_150.LoanRange.value_counts().sum()

44

In [40]:
city_under_150.LoanAmount.value_counts().sum()

264

In [43]:
city_over_150.LoanRange.value_counts().sum() + city_under_150.LoanAmount.value_counts().sum()

308

In [ ]:
## who were the businesses?

## business names were given for loan recipients who
## got more than $150,000;

## business types were given for businesses that received 
## less than $150,000

In [ ]:
city_over_150.BusinessName.reset_index()

In [ ]:
city_under_150.BusinessType.value_counts()

In [ ]:
## breakdown of who got money based on bracket

## a: 5-10m
## b: 2-5m
## c: 1-2m
## d: $350k to $1m
## e: $150-350k

In [ ]:
city_over_150[city_over_150.LoanRange.str.contains('d')]

In [ ]:
## search for a specific business

In [48]:
city_over_150[city_over_150.BusinessName.str.contains('SCHOOL')]

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
44167,"d $350,000-1 million","ENCINITAS COUNTRY DAY SCHOOL, INC.",3616 MANCHESTER AVE,ENCINITAS,CA,92024.0,611110.0,Corporation,Unanswered,Female Owned,Non-Veteran,NaN,45.0,05/01/2020,"JPMorgan Chase Bank, National Association",CA - 49
71496,"e $150,000-350,000",CENTRAL MONTESSORI SCHOOL,286 N EL CAMINO REAL,ENCINITAS,CA,92024.0,611699.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,18.0,05/01/2020,"Bank of America, National Association",CA - 49

In [ ]:
## which banks were granting the loans?

In [29]:
city_over_150.Lender.value_counts()

Wells Fargo Bank, National Association               5
JPMorgan Chase Bank, National Association            4
First Republic Bank                                  4
MUFG Union Bank, National Association                3
Western Alliance Bank                                3
Bank of Southern California, National Association    2
Bank of America, National Association                2
Fund-Ex Solutions Group, LLC                         2
C3Bank, National Association                         2
CalPrivate Bank                                      2
BSD Capital, LLC dba Lendistry                       2
Pacific Western Bank                                 2
Harvest Small Business Finance, LLC                  2
Cross River Bank                                     2
Zions Bank, A Division of                            2
Axos Bank                                            1
The Northern Trust Company                           1
Pacific Premier Bank                                 1
Endeavor Bank                                        1
Live Oak Banking Company                             1
Cache Valley Bank                                    1
Banner Bank                                          1
Central Pacific Bank                                 1
Umpqua Bank                                          1
FinWise Bank                                         1
Midwest Regional Bank                                1
Mission Valley Bank                                  1
River City Bank                                      1
Name: Lender, dtype: int64